figure {
  float: left;
  margin: 0 4% 4% 0;
  max-width: 50%;
}

.right {
  float: right;
  margin: 0 0 4% 4%;
  text-align: right;
}

@media (max-width: 40.063em) {
  figure,
  .right {
    float: none;
    margin: 4% 0;
    max-width: none;
    text-align: center;
  }
}

article {
  margin-bottom: 4rem;
}

article p {
  letter-spacing: -0.1px;
}

article::after {
  display: block;
  height: 0;
  content: "";
  clear: both;
}

.box {
  background-color: #bb442f;
  border-radius: 4px;
  color: white;
  box-sizing: border-box;
  padding: 1.25em;
}

.box a {
  color: #fcc865;
}

figure img {
  margin-bottom: 0;
}
figure figcaption {
  font-size: 11px;
  opacity: 0.75;
  letter-spacing: -0.1px;
}
